section.about.block#about 
    .container 
        .row.align-items-center.justify-content-center
            .col-12.col-lg-6.col-xl-5
                h2.about__title.text-center.text-uppercase O nas
            .col-lg-6.col-xl-7
            .col-12.col-lg-6.col-xl-5 
                picture 
                    //- source(srcset="img/car-wash.webp", type="image/webp")
                    img.about__img(src="img/plan.jpg", alt="MaxTapiClean o nas")
            .col-12.col-lg-6.col-xl-7 
                .about__info
                    p MaxTapiClean to młoda firma, która dąży do świadczenia usług najwyższej jakości w zakresie czyszczenia mebli tapicerowanych, dywanów, wnętrz samochodów oraz mycia okien. 
                    p Naszym celem jest stworzenie czystości i komfortu w Twoim domu i biurze. Zespół MaxTapiClean wykorzystuje tylko najlepsze środki i nowoczesny sprzęt, aby zapewnić maksymalną skuteczność i bezpieczeństwo Twoich ulubionych przedmiotów. 
                    p Rozpoczynamy naszą drogę z celem, aby stać się Twoim zaufanym partnerem w kwestiach czystości i wygody.
            .col-12
                .about__btn
                    a.btn(href="#cta") Zarejestruj się
                    a.btn(href="tel:+48609556280") 
                        svg.icon(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                            path(d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z")
                            path(d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2")
                        | Konsultacja