.advantages
	.advantage
		h6(class="advantage__title") Głęboko i bezpiecznie czyszczone
		div(class="advantage__text") Usuwamy zanieczyszczenia, zapachy i alergeny bez szkody dla tkanin i zdrowia.
		.advantage__icon
			img(src="img/scrub-brush.svg", alt="")
	.advantage
		h6(class="advantage__title") Nowoczesny sprzęt i skuteczne środki czyszczące
		div(class="advantage__text") Wykorzystujemy profesjonalną technikę i ekologiczne środki czyszczące.
		.advantage__icon
			img(src="img/cleaner.svg", alt="")
	//- .advantage
	//- 	h6(class="advantage__title") Опытная команда специалистов
	//- 	div(class="advantage__text") знаем, как справиться даже с самыми сложными пятнами.
	.advantage
		h6(class="advantage__title") Usługi z dojazdem do domu
		div(class="advantage__text") Przyjeżdżamy w dogodnym dla Ciebie czasie, pracujemy szybko i starannie.
		.advantage__icon
			img(src="img/home.svg", alt="")
	.advantage
		h6(class="advantage__title") Szeroki zakres usług
		div(class="advantage__text") Czyszczenie mebli, dywanów, tapicerki samochodowej, mycie okien oraz sprzątanie pomieszczeń.
		.advantage__icon
			img(src="img/customer-service.svg", alt="")