section#process.process.block
	.container.cleaner-animation
		h2.process__title Proces czyszczenia
		p.process__subtitle Proces czyszczenia odbywa się w 5 etapach.
		.row.align-items-end
			.col-lg-4.col-xl-5
				.process__list
					.process__item  Próba materiału i dobór odpowiedniej chemii (Chemspec, Global, Kiehl)
					.process__item  Dokładne odkurzanie powierzchni (Karcher, Unger)
					.process__item Punktowe odplamianie
					.process__item Nałożenie pre-sprayu
					.process__item Kilkukrotne dogłębne płukanie
			.col-lg-8.col-xl-7
				.process__visual.process-visual
					picture
						img.process-visual__img(src="img/sofa-2.png")
					.process-visual__list
						.process-visual__item
							.process-visual__item-text Próba materiału i dobór odpowiedniej chemii 
						.process-visual__item
							.process-visual__item-text Dokładne odkurzanie powierzchni
						.process-visual__item
							.process-visual__item-text Punktowe odplamianie 
						.process-visual__item
							.process-visual__item-text Nałożenie pre-sprayu
						.process-visual__item
							.process-visual__item-text Kilkukrotne dogłębne płukanie
		p.text-center Do czyszczenia wykorzystujemy urządzenia głównie firmy Karcher oraz odpowiednie markowe środki chemiczne, które skutecznie usuwają brud a jednocześnie są delikatne dla czyszczonych powierzchni oraz bezpieczne dla ludzi i zwierząt.
