section.reviews#reviews.block.section.js-scroll-x-wrapper 
    .section__inner
        .container-fluid.reviews__container 
            h2.reviews__title.text-uppercase Opinie
            .js-scroll-x-section
                .row.flex-nowrap.reviews__row
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Janek Kowalski
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Usługi MaxTapiClean to absolutna rewelacja! Miałem dość brudnych dywanów i tapicerki w samochodzie, ale po czyszczeniu przez tę firmę wszystko wygląda jak nowe. Polecam z całego serca, a szczególne podziękowania dla Wlada za profesjonalne podejście i szybką obsługę!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Marta Nowak 
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Zdecydowałam się skorzystać z usług MaxTapiClean po kilku rekomendacjach i nie zawiodłam się. Moje kanapy i fotele znowu wyglądają świetnie, a zapach jest cudowny. Praca została wykonana sprawnie i dokładnie. Dziękuję Wladzie za wspaniałą obsługę!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Piotr Zieliński 
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Firma MaxTapiClean to gwarancja jakości! Po ich pracy moje dywany wyglądały jak nowe, a tapicerka w samochodzie zyskała drugie życie. Zdecydowanie polecam, a Wladzie dziękuję za profesjonalizm i szybkość!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Katarzyna Wiśniewska
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Jestem bardzo zadowolona z usług MaxTapiClean. Czystość tapicerki w moim samochodzie była dla mnie bardzo ważna i firma naprawdę się postarała. Dzięki Wladzie za pomoc i świetną robotę!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Andrzej Lewandowski
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "MaxTapiClean to firma, której można zaufać. Moje fotele odzyskały blask po ich czyszczeniu. Zdecydowanie wart polecenia, szczególnie jeśli chodzi o szybkość i jakość wykonania. Dziękuję Wladzie!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Anna Król 
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Świetna firma! MaxTapiClean profesjonalnie zajął się czyszczeniem moich dywanów i tapicerki. Efekt przerósł moje oczekiwania, a cała usługa przebiegła bez problemów. Wladzie, dziękuję za pomoc i cierpliwość!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Tomasz Jankowski 
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Firma, która zna się na rzeczy! MaxTapiClean wykonała czyszczenie moich dywanów szybko, profesjonalnie i bez żadnych problemów. Tapicerka wygląda jak nowa, a zapach w domu jest cudowny. Wladzie, dzięki za świetną robotę!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Maja Kowalczyk 
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "MaxTapiClean to strzał w dziesiątkę! Moje krzesła i kanapy nigdy nie wyglądały tak dobrze. Bardzo profesjonalna obsługa i szybka realizacja. Dziękuję za pomoc, Wladzie!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Jakub Wójcik
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Z czystym sumieniem polecam MaxTapiClean! Czystość po ich pracy jest na najwyższym poziomie. Dywany i tapicerka w samochodzie wyglądają jak nowe. Wladzie, dziękuję za pomoc i profesjonalizm!"
                    .col-8.col-sm-10.col-md-8.col-lg-6.col-xl-4.js-scroll-x-item 
                        .review
                            .review__header
                                h6.review__name Ewa Szymańska
                                .rating.review__rating(style="--star-rating: 5;") 
                            p.review__text "Jestem zachwycona efektami pracy MaxTapiClean! Po ich usługach moje meble i dywany wyglądają jak nowe. Wladzie, dziękuję za tak wysoką jakość usług i miłą obsługę!"