section.services#services.block.section.js-scroll-x-wrapper 
    .section__inner
        .container-fluid.services__container
            h2.services__title.text-center.text-uppercase Zakres usług MaxTapiClean
            p.text-center Oferujemy kompleksowe usługi chemicznego czyszczenia, obejmujące:
            br
            .js-scroll-x-section
                .row.flex-nowrap.services__row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-5
                    .col.js-scroll-x-item 
                        .service 
                            .service__inner
                                .service__front
                                    picture.service__img
                                        //- source(srcset="img/sofa-cleaning.webp", type="image/webp")
                                        img(src="img/sofa-cleaning.jpg", alt="Wnętrze")
                                    h6.service__title Pranie tapicerki meblowej (kanapy, narożniki, fotele, materace)
                                .service__back
                                    div Profesjonalne czyszczenie tapicerki meblowej, które przywraca świeżość i czystość Twoim kanapom, fotelom, narożnikom oraz materacom. Używamy bezpiecznych i skutecznych środków, które usuwają plamy, zabrudzenia oraz nieprzyjemne zapachy.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        //- source(srcset="img/carpet-cleaning.webp", type="image/webp")
                                        img(src="img/carpet-cleaning.jpg", alt="Mycie")
                                    h6.service__title Czyszczenie dywanów i wykładzin
                                    //- ul.service__list 
                                    //-     li Myjnia samochodowa
                                .service__back
                                    div Dokładne czyszczenie dywanów i wykładzin, które przywraca im pierwotny wygląd. Nasze usługi skutecznie usuwają zanieczyszczenia, kurz oraz bakterie, zapewniając Twoim dywanom czystość i świeżość.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        //- source(srcset="img/service-img-3.webp", type="image/webp")
                                        img(src="img/window-cleaning.jpg", alt="Reflektory")
                                    h6.service__title Mycie okien
                                .service__back
                                    div Profesjonalne mycie okien, które zapewnia doskonałą przejrzystość i blask. Nasze metody czyszczenia skutecznie usuwają smugi, brud i kurz, zarówno wewnątrz, jak i na zewnątrz okien, pozostawiając je czyste i lśniące.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        //- source(srcset="img/service-img-4.webp", type="image/webp")
                                        img(src="img/car-cleaning.jpg", alt="Nadwozie")
                                    h6.service__title Sprzątanie
                                .service__back
                                    div Kompleksowe usługi sprzątania, które obejmują czyszczenie powierzchni, odkurzanie, mycie podłóg oraz usuwanie kurzu. Zajmiemy się każdą częścią Twojego domu lub biura, zapewniając świeżość i porządek.
                    .col.js-scroll-x-item
                        .service
                            .service__inner
                                .service__front
                                    picture.service__img
                                        //- source(srcset="img/service-img-5.webp", type="image/webp")
                                        img(src="img/room-cleaning.jpg", alt="Ochrona")
                                    h6.service__title Pranie tapicerki samochodowej
                                .service__back
                                    div Profesjonalne czyszczenie tapicerki samochodowej, które usuwa plamy, brud i nieprzyjemne zapachy, przywracając wnętrzu Twojego pojazdu świeżość. Używamy bezpiecznych środków, które nie szkodzą materiałom, zapewniając skuteczność i dbałość o detale.
            //- p.services__description.container-fluid 
            .services__btn
                a.btn(href="#price") Poznaj ceny

